<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shad abdulsamad">
    <meta name="description" content="web design assignment">
    <title>Blog</title>
</head>
<body>
    <header>
        <img src="images/salahaddin_logo.png" alt="salahaddin university logo">
        <h1>Shad Abdulsamad Asaad</h1>
    </header>
    <nav >
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li>Layout Design
                <ul>
                    <li><a href="float.html">Float Layout with Side nav</a></li>
                    <li><a href="flex.html">Flexbox Layout with Side nav</a></li>
                    <li><a href="grid.html">Blog Grid View</a></li>
                </ul>
            
            </li>
            <li><a href="signup.html">Signup</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </nav>
    <main>
        <h2>Blogs</h2>
        <section>
            <header>
            <h3>Topic 1 Lorem ipsum dolor sit amet</h3>
            <nav>By <a href="">Shad Abdulsamad</a> on saturday,15/10/2022 10:35 AM</nav>
            </header>
            <br>
            <figure>
            <img src="images/pic4.jpg" alt="night sky" height="300" width="600">
        </figure>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quam odit? Quam magnam harum expedita excepturi neque iusto cupiditate! Dolor nihil minima voluptas recusandae impedit alias maxime magnam quos a?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ad voluptatibus pariatur ipsum accusantium assumenda saepe beatae animi, ipsa voluptate, repellat voluptas maxime atque! Dicta at atque placeat iusto voluptates?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore amet, odit 
        <p>
        repudiandae voluptatem explicabo ullam quam rerum labore corrupti molestias unde ex autem sunt vero aliquam iste a sed recusandae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptas blanditiis, accusantium cupiditate consectetur explicabo incidunt commodi, mollitia quo praesentium odio 
        </p>
        quaerat magnam voluptatibus reiciendis consequatur deleniti laudantium perspiciatis ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum in culpa, ea labore sint quasi eum aut iusto accusamus tenetur a officia hic? Sed dolore sapiente quos quia aliquam accusamus.    
        </p>
        </section>
        <section>
            <header>
                <h3>Topic 2 Quo, excepturi incidunt</h3>
                <nav>By <a href="">Shad Abdulsamad</a>  on saturday,15/10/2022 10:35 AM</nav>
            </header>
           <figure>
            <img src="images/pic5.jpg" alt="sky image" height="300" width="600">
           </figure>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aperiam aspernatur suscipit nam, totam recusandae! Eligendi magni alias, dicta optio quis iste nemo reiciendis facilis eos ipsa. Vel, voluptate quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum assumenda tempora laboriosam, voluptate obcaecati corporis ipsam deserunt velit repellat repellendus! Ad labore, 
            <p>
            laboriosam officia facilis impedit asperiores maiores neque harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci asperiores officiis numquam. Dolores aut laudantium ut excepturi non exercitationem repudiandae incidunt maiores recusandae autem doloremque odit nam 
            </p>
            praesentium, ducimus delectus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi pariatur aspernatur dolorem, aliquam doloribus consequatur suscipit molestias rem iste voluptates reprehenderit placeat minus, quaerat laudantium autem aut eveniet nam est.
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, hic culpa optio porro ducimus laboriosam, quod mollitia perferendis ad sunt sed, illum delectus molestias blanditiis inventore maiores ea cupiditate. Error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aut quisquam deleniti animi voluptatem commodi, distinctio ipsa accusantium neque tempore fugit dolorem quidem voluptatibus similique, dignissimos error ea hic quis!
           </p>
        </section>
        <section>
            <header>
                <h3>Topic 3 Doloremque incidunt accusantium explicabo autem dolorum</h3>
                <nav>By <a href="">Shad Abdulsamad</a> on saturday,15/10/2022 10:35 AM</nav>
            </header>
            <figure>
                <img src="images/pic6.jpg" alt="eclipse image" height="300" width="550">
            </figure>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia nisi, magnam, excepturi nemo incidunt cupiditate ex, magni deserunt aut nesciunt quod consequuntur tempore exercitationem sit consequatur vitae atque. Quibusdam, fugit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptatibus modi quae esse ratione, itaque animi. Aliquam, debitis autem iure, praesentium quaerat accusantium labore inventore mollitia culpa magni repudiandae blanditiis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam perspiciatis corporis magnam sequi, amet quae? Temporibus amet similique quos, in tempore magnam recusandae inventore! Ipsum molestiae consequatur placeat voluptatibus repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quam! Eius provident accusamus sapiente ipsam, cupiditate fugit incidunt non autem qui temporibus error ad nisi laudantium sunt, inventore vero asperiores.
                </p>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vero molestiae est necessitatibus exercitationem excepturi cumque dolorum ipsum numquam, porro temporibus corrupti velit neque mollitia delectus? Ipsam iste rem officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, numquam ex facere, tempore quibusdam fuga soluta consectetur iure praesentium doloribus provident repellendus magni placeat neque sapiente possimus natus? Voluptatibus, totam.
            </p>
        </section>
    </main>
</body>
<br>
<hr>
<br>
<footer>
    <section>
        <h3>Sitemap</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </section>
    <section>
        <h3>Terms and Quick Links</h3>
        <ul>
            <li>Term of usage</li>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </section>
    <section>
        <h3>Address and Contact</h3>
        <ul>
            <li><address>City,Governorate,Country</address></li>
            <li><address>Phone:0964 000 000 0000</address></li>
            <li><address>Email:example@domain.com</address></li>
        </ul>
    </section>
</footer>
</html>