<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float layout</title>
</head>
<body>
    <header>
        <img src="images/salahaddin_logo.png" alt="salahaddin university logo">
        <h1>Shad Abdulsamad Asaad</h1>
    </header>
    <nav >
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li>Layout Design
                <ul>
                    <li><a href="float.html">Float Layout with Side nav</a></li>
                    <li><a href="flex.html">Flexbox Layout with Side nav</a></li>
                    <li><a href="grid.html">Blog Grid View</a></li>
                </ul>
            
            </li>
            <li><a href="signup.html">Signup</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </nav>
    <main>
        <h3>Floated sidebar + Blogs</h3>
       <section>
        <h3>Topic 1 Lorem ipsum dolor sit amet</h3>
        <nav>By <a href="">Shad Abdulsamad</a> on saturday,15/10/2022 10:35 AM</nav>
        <figure>
            <img src="images/pic2.jpg" alt="night sky" height="300" width="600">
        </figure>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui praesentium aperiam impedit velit aut natus a labore tempore voluptatum porro inventore cum eveniet laboriosam, deleniti iste blanditiis amet temporibus dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, iure voluptas praesentium error tenetur nesciunt ducimus exercitationem cum veniam possimus. Sit porro harum in recusandae numquam ad quibusdam laudantium praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis quam nulla autem molestiae! Corrupti corporis eum nulla excepturi esse magnam cum sapiente, delectus optio doloremque sint natus quo cupiditate.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto est quia quos et asperiores fugit voluptatibus illo laudantium, numquam tenetur debitis vero accusantium reiciendis, explicabo in vitae, commodi fugiat dolor? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure magni cumque expedita minus est. Architecto pariatur voluptate ut. Deleniti ea aut ducimus inventore quas dolore praesentium animi consequatur, et ab.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta rem esse officiis expedita culpa cum fugit, magnam earum cumque saepe eius dolorum. Quasi quaerat laborum nisi dolorum explicabo architecto accusantium!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt accusantium, iure hic nihil reprehenderit cumque? Eius quis veniam odio consequatur magnam sint fuga. Eius id quas ratione minima nemo minus.
        </p>
       </section>
       <section>
        <h2>Topic 2 Quo, excepturi incidunt</h2>
        <nav>By <a href="">Shad Abdulsamad</a> on saturday,15/10/2022 10:35 AM</nav>
        <figure>
            <img src="images/pic5.jpg" alt="sunset" height="300" width="600">
        </figure>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia fuga tenetur, ad quos ex magnam. Culpa asperiores corporis omnis earum illo incidunt labore sint neque, laudantium, alias nulla temporibus esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro aliquid magni! Deserunt voluptas vitae corporis omnis fugiat velit reprehenderit quam reiciendis ut. Maiores, consectetur. Quisquam repellendus laborum quibusdam eum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet repellat tempore nemo voluptatibus veritatis placeat esse officiis inventore, quaerat fuga tempora. Possimus, accusantium. Similique culpa, consequuntur rem quibusdam et ipsam?
        </p>
        <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione delectus, assumenda architecto nemo reiciendis distinctio animi optio totam, eligendi pariatur veritatis ut, facilis possimus et. Tenetur asperiores quod natus iure? Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime, at blanditiis autem unde dolore exercitationem aliquam culpa, suscipit voluptatum aspernatur sit! Voluptas nulla est eveniet officiis fugiat dolores quasi.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel error ut quaerat. Temporibus voluptatibus maxime culpa perferendis porro aliquam, magnam, cupiditate autem delectus, alias corporis velit nostrum voluptatem accusantium quod.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur enim molestias beatae id excepturi voluptas sapiente, quas laudantium, nostrum alias quaerat inventore, velit odio voluptatum minus voluptatibus ipsa reprehenderit temporibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, eveniet nulla. Molestias, neque. Iusto, quae? Commodi est, quisquam magni dolore sit modi! Eligendi beatae tenetur itaque quos consectetur excepturi sapiente?
    </p>
       </section>
       <section>
        <h2>Topic 3 Dolormeque incidunt accusantium explicabo autem dolorum</h2>
        <nav>By <a href="">Shad Abdulsamad</a> on saturday,15/10/2022 10:35 AM</nav>
        <figure>
            <img src="images/pic6.jpg" alt="eclipse" height="300" width="600">
        </figure>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem molestias, consequuntur ea doloribus impedit voluptatibus cupiditate error minus dolores harum quas accusamus deserunt aliquid sunt dignissimos accusantium vitae, blanditiis officiis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero suscipit provident est adipisci fuga totam aspernatur quam consequatur explicabo, consequuntur, beatae saepe corrupti nihil magni a tempore modi vitae doloribus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur repudiandae rerum magnam aperiam. Ad ullam non voluptatem mollitia blanditiis, maiores ipsa dolor eaque cum sint vero ipsam culpa magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nemo dicta facilis soluta rem eveniet, corrupti neque iure placeat laborum expedita autem harum eligendi praesentium quos eius hic aspernatur culpa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore omnis tempore voluptatum voluptatem, quia numquam pariatur qui possimus consectetur consequuntur assumenda, harum reprehenderit maiores ipsam esse nisi laborum sunt earum!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque magni ad saepe autem vero cupiditate minus expedita debitis hic natus. Fuga tempore ipsa velit, quaerat repellat at eos ad sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem accusantium velit. Reprehenderit quidem dolorum earum dolor quae mollitia error officiis doloribus quia tempore, magnam praesentium ipsa adipisci molestias est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis placeat dolorem quidem vitae ipsam facere exercitationem, laboriosam aliquid nemo accusamus eaque sunt magni. Rerum voluptate tempore enim odit nam voluptatibus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ex vitae ut facilis similique, tenetur tempora corporis nostrum amet, error asperiores voluptas veritatis! Natus officiis, harum iste perspiciatis itaque eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ducimus exercitationem maxime nostrum asperiores eaque ad ea, ab similique dolorum perspiciatis commodi neque temporibus. Mollitia velit voluptatum eligendi earum laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, deleniti doloribus magnam repellendus animi reiciendis facere, molestias dolorum accusantium accusamus vero. Accusantium ex odio, deserunt aspernatur veniam molestiae ea in.
        </p>
       </section>
       <aside>
        <section>
            <h3>Layout Design</h3>
            <ul>
                <li><a href="float.html">Float Layout with Side nav</a></li>
                <li><a href="flex.html">Flexbox layout with Side nav</a></li>
                <li><a href="grid.html">Grid Layout with Side nave</a></li>
            </ul>
        </section>
       </aside>
    </main>
    
</body>
<footer>
    <section>
        <h3>Sitemap</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </section>
    <section>
        <h3>Terms and Quick Links</h3>
        <ul>
            <li>Term of usage</li>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </section>
    <section>
        <h3>Address and Contact</h3>
        <ul>
            <li><address>City,Governorate,Country</address></li>
            <li><address>Phone:0964 000 000 0000</address></li>
            <li><address>Email:example@domain.com</address></li>
        </ul>
    </section>
</footer>
</html>