<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <img src="images/salahaddin_logo.png" alt="salahaddin university logo">
        <h1>Shad Abdulsamad Asaad</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li>Layout Design
                <ul>
                    <li><a href="float.html">Float Layout with Side nav</a></li>
                    <li><a href="flex.html">Flexbox Layout with Side nav</a></li>
                    <li><a href="grid.html">Blog Grid View</a></li>
                </ul>
            
            </li>
            <li><a href="signup.hrml">Signup</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </nav>
    <main>
   
    <figure>
        <img src="images/pic1.jpg" alt="nature photo" height="300" width="600">
    </figure>
    <br>
    <button><a href="blog.html">Blog</a></button>
    <button><a href="schedule.html">Seminar Schedule</a></button>
    <button><a href="signup.html">Signup</a></button>
    <button><a href="signin.html">Signin</a></button>
    <article>
        <header>
        <h2 align="center">Recent Articles</h2>
        
    </header>
    <section>
    <h3>Topic 1 Lorem ipsum dolor sit amet </h3>
    <nav><p>By <a href="">Shad Abdulsamad</a> on saturday,15/10/2022 10:35 AM</p></nav>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, eaque dolores aliquam aliquid autem enim ipsum, suscipit corporis quis dolor minus quaerat porro nihil necessitatibus perspiciatis obcaecati. Mollitia, voluptas eaque.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat in et voluptatem, cum consequuntur nam iste magnam repudiandae minima deleniti, amet optio minus iure ducimus, obcaecati vitae. Consequatur, perferendis beatae.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellendus porro ducimus oditnecessitatibus earum! Exercitationem excepturi eligendi nemo illo harum nihil nisi accusantium, blanditiis, reiciendis cum mollitia omnis. Reiciendis.    
    </p>
    <figure>
    <img src="images/pic2.jpg" alt="night sky photo" height="300" width="600">
    </figure>
    </section>
    <section>
        <h3>Topic 2 Quo, excepturi incidunt</h3>
        <nav><p>By <a href="">Shad Abdulsamad</a> on saturday,15/10/2022 10:35 AM</p></nav>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, provident officiis facere, expedita voluptas, suscipit inventore blanditiis sit vitae laudantium labore repellendus deleniti culpa fugiat minus necessitatibus eius nihil quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ab rerum, fugit repellendus ut quidem animi totam numquam aperiam, officiis eligendi aliquid explicabo, ipsa dicta? Alias eum eos dolor corrupti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, tenetur provident. Minima vel laborum quos culpa sint quisquam aliquid sapiente nulla ipsam corporis quis ab, quaerat hic reiciendis commodi deserunt?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam assumenda dignissimos provident rem accusamus, corrupti culpa! Magni aperiam dignissimos iure doloribus nesciunt sint tempore, corrupti expedita ullam, maxime animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur totam impedit odio? Modi velit excepturi dolores vel exercitationem deserunt rem fuga quo in, saepe, enim perferendis ut explicabo ad vitae.
        </p>
        <figure>
            <img src="images/pic3.jpg" alt="Eath photo from space" height="300" width="550">
        </figure>
    </section>
    </article>
</main>
</body>
<br>
<hr>
<br>
<footer>
    <section>
        <h3>Sitemap</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </section>
    <section>
        <h3>Terms and Quick Links</h3>
        <ul>
            <li>Term of usage</li>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </section>
    <section>
        <h3>Address and Contact</h3>
        <ul>
            <li><address>City,Governorate,Country</address></li>
            <li><address>Phone:0964 000 000 0000</address></li>
            <li><address>Email:example@domain.com</address></li>
        </ul>
    </section>
</footer>
</html>