<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <header>
        <img src="images/salahaddin_logo.png" alt="salahaddin university logo">
        <h1>Shad Abdulsamad Asaad</h1>
    </header>
    <nav >
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li>Layout Design
                <ul>
                    <li><a href="float.html">Float Layout with Side nav</a></li>
                    <li><a href="flex.html">Flexbox Layout with Side nav</a></li>
                    <li><a href="grid.html">Blog Grid View</a></li>
                </ul>
            
            </li>
            <li><a href="signup.html">Signup</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </nav>
    <main>
        <h3 align="center">Seminar Schedule</h3>
        <table border="2" height="200" align="center" width="800">
            <tr>
                <th rowspan="3">Day</th>
                <th colspan="7">Seminar</th>
            </tr>
            <tr>
                <th colspan="3">Morning Sessions</th>
                <th colspan="4">Evening Sessions</th>
                
            </tr>
            <tr>
                <th>Begin</th>
                <th>End</th>
                <th colspan="1">Topic</th>
                <th>Begin</th>
                <th>End</th>
                <th colspan="2">Topic</th>
                
            </tr>
            <tr>
                <td rowspan="2">Monday</td>
                <td rowspan="2">8:00 AM</td>
                <td rowspan="2">11:00 AM</td>
                <td>Introduction to XML</td>
                <td>01:30 PM</td>
                <td>03:00 PM</td>
                <td>HTM Language</td>
            </tr>
            <tr>
                <td>CSS Language</td>
                <td>3:30 PM</td>
                <td>05:00 PM</td>
                <td>Web Accessibility</td>

            </tr>
            <tr>
                <td rowspan="3">Tuesday</td>
                <td>08:00 AM</td>
                <td>11:00 AM</td>
                <td rowspan="2">Introduction to Javascript</td>
                <td>02:00 PM</td>
                <td>03:30 PM</td>
                <td>The DOM</td>
            </tr>
            <tr>
                <td>10:30 AM</td>
                <td>12:00 PM</td>
                <td rowspan="2">04:00 PM</td>
                <td rowspan="2">06:00 PM</td>
                <td rowspan="2">Advanced Javascript</td>
            </tr>
            <tr>
                <td>9:00 AM</td>
                <td>11:00 AM</td>
                <td>Web Design and Bootsrap</td>
                
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>9:00 AM</td>
                <td>11:00 AM</td>
                <td>Introduction to ReactJs</td>
                <td>01:00 PM</td>
                <td>03:00 PM</td>
                <td>Introduction to Nodejs</td>
            </tr>

        </table>
    
    </main>
    <br>
<hr>
<br>
<footer>
    <section>
        <h3>Sitemap</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </section>
    <section>
        <h3>Terms and Quick Links</h3>
        <ul>
            <li>Term of usage</li>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </section>
    <section>
        <h3>Address and Contact</h3>
        <ul>
            <li><address>City,Governorate,Country</address></li>
            <li><address>Phone:0964 000 000 0000</address></li>
            <li><address>Email:example@domain.com</address></li>
        </ul>
    </section>
  
</footer>
</body>
</html>