<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <header>
        <img src="images/salahaddin_logo.png" alt="salahaddin university logo">
        <h1>Shad Abdulsamad Asaad</h1>
    </header>
    <nav >
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li>Layout Design
                <ul>
                    <li><a href="float.html">Float Layout with Side nav</a></li>
                    <li><a href="flex.html">Flexbox Layout with Side nav</a></li>
                    <li><a href="grid.html">Blog Grid View</a></li>
                </ul>
            
            </li>
            <li><a href="signup.html">Signup</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </nav>
    <main>
            <h3>Signin Form</h3>
            
            <form action="https://httpbing.org/post" method="post">
                <table>
                    
                   <tr><td><label for="username-or-email">Username or Email</label></td></tr>
                  <tr><td><input type="text" name="username-or-email" id="username-or-email" placeholder="Username or Email"
                    required></td></tr>
                
                </table>
                <table>
                    
                   <tr> <td><label for="password">Password</label></td></tr>
                   <td><input type="Passwrod" name="password" id="password" placeholder="Password" required></td>
                </table>
                
                <button>signin</button>
                <a href="password.html">Forgot Password?</a>
            
            </form>
    </main>
</body>
<br>
<hr>
<br>
<footer>
    <section>
        <h3>Sitemap</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signin.html">Signin</a></li>
        </ul>
    </section>
    <section>
        <h3>Terms and Quick Links</h3>
        <ul>
            <li>Term of usage</li>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </section>
    <section>
        <h3>Address and Contact</h3>
        <ul>
            <li><address>City,Governorate,Country</address></li>
            <li><address>Phone:0964 000 000 0000</address></li>
            <li><address>Email:example@domain.com</address></li>
        </ul>
    </section>
</footer>
</html>